<?xml version="1.0" encoding="UTF-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="android.aidl.tests">

  <uses-sdk android:targetSdkVersion="30"/>

  <application>
    <uses-library android:name="android.test.runner"/>
  </application>

  <instrumentation
    android:exported="true"
    android:name="androidx.test.runner.AndroidJUnitRunner"
    android:targetPackage="android.aidl.tests"
    android:label="AIDL integration test" />
</manifest>
